# =========================
# TELEGRAM (SECRET)
# =========================

TELEGRAM_TOKEN=***
TELEGRAM_CHAT_ID=***

# =========================
# MACHINES
# =========================

MACHINES=NC1,NC2,NC99,ENG1,ENG2,ENG99

# =========================
# NCSTUDIO MACHINES
# =========================

NC1_NAME=NC STUDIO
NC1_TYPE=NCSTUDIO
NC1_WATCH=C:\Program Files\Ncstudio5.5.60\NCSTUDIO.DYN
NC1_LOG=C:\Program Files\Ncstudio5.5.60\NCSTUDIO.LOG

NC2_NAME=NC STUDIO Buka
NC2_TYPE=NCSTUDIO
NC2_WATCH=C:\Program Files\ncbuka\Ncstudio Buka\NCSTUDIO.DYN
NC2_LOG=C:\Program Files\ncbuka\Ncstudio Buka\NCSTUDIO.LOG

NC99_NAME=NC STUDIO Simulatiom
NC99_TYPE=NCSTUDIO
NC99_WATCH=D:\Temp\NcStudio 5.5.60 simulation\NCSTUDIO.DYN
NC99_LOG=D:\Temp\NcStudio 5.5.60 simulation\NCSTUDIO.LOG

# =========================
# ENGRAVE MACHINES
# =========================

ENG1_NAME=ENGRAVE 80E
ENG1_TYPE=ENGRAVE
ENG1_WATCH=C:\Engrave80e\ws080e1.grv

ENG2_NAME=ENGRAVE 80E
ENG2_TYPE=ENGRAVE
ENG2_WATCH=D:\Engrave80e\ws080e1.grv

ENG99_NAME=ENGRAVE 80E
ENG99_TYPE=ENGRAVE
ENG99_WATCH=E:\Engrave80e\ws080e1.grv
